$primary-color: #7acfc0;
$outline-color: adjust-color( $primary-color, $saturation: -75%, $lightness: -26%);
$fill-color: adjust-color($primary-color, $saturation: -82%, $lightness: 50%);
$box-shadow: rgba(8, 35, 51, 0.05) 0px 4px 8px;