@import './../../node_modules/tachyons/css/tachyons.min.css';
@import 'vars';
@import 'base';
@import 'icons';
@import 'balloon';
@import 'util';
.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s, transform 0.25s;
}

.page-enter,
.page-leave-active {
  opacity: 0; // transform: translateX(-15px);
}

.toasted-container.top-right {
  top: 15px !important;
  right: 15px !important;
}

// .toasted.outline.success {
//   color: #19a974 !important;
//   border-color: #19a974 !important;
// }
// .outline {
//   outline: none;
// }